footer {
    background-color: #00144b;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        text-align: center;
        color: whitesmoke;
        font-size: 2rem;
        width: auto;
        text-transform: none;
    }
}