footer {
    background-color: #1b2456;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }
    p, a {
        text-align: center;
        color: whitesmoke;
        font-size: 2rem;
        width: auto;
        text-transform: none;
    }
}