footer {
    background-color: #1b2456;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        text-align: center;
        color: whitesmoke;
    }
}