.contact {
    display: flex;
    width: 100%;
    height: 40vw;
    min-height: 500px;
    justify-content: center;
    align-items: center;
    background-color: #00144b;
    position: relative;
    &:before {
        content: '';
        width: 100%;
        height: 100%;
        background-image: url(../../../assets/map2.png);
        background-size: cover;
        position: absolute;
    }
}

.contactContainer {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    &:before {
        content: '';
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, whitesmoke 20%, #2c2c2c00 70%);
        position: absolute;
        left: 0;
        z-index: -1;
    }
    
}

.contactInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .personalInfo {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
    }
    h3 {
        font-size: 3rem;
    }
    a {
        background-color: #00144b;
        color: whitesmoke;
        width: 180px;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        &:hover, &:focus {
            background-color: #db005b;
        }
    }
}

ul.contactLinks {
    background: none;
    list-style: none;
    padding: 0;
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    justify-content: flex-start;
    li {
        height: 50px;
    }
    li i {
        position: relative;
        height: 40px;
        &:after {
            content: '';
            width: 95%;
            height: 100%;
            border-radius: 5px;
            background-color: whitesmoke;
            position: absolute;
            left: 0;
            top: 5px;
            z-index: -1;
        }
    }
    li a {
        text-decoration: none;
        color: #00144b;
        font-size: 5rem;
        background: none;
        padding: 0;
        &:hover, &:focus {
            background: none;
            color: #db005b;
        }
    }
}

.pictureContainer {
    width: 100px;
    height: 100px;
    img {
        width: 100%;
        border-radius: 50%;
        display: block;
    }
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    a {
        margin: 10px 10px 10px 0;
        text-align: center;
    }
}

.mapReference {
    position: absolute;
    bottom: 0;
    font-size: 1.6rem;
}