header {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00144b;
    h1 {
        color: whitesmoke;
        span {
            color: #db005b;
        }
    }
    h2 {
        color: whitesmoke;
    }
}


