.datePicker {
    width: 100%;
    label, input, .calendarIcon, .weekdays, .collapseButton {
        display: none;
    }
}

.calendarDisplay {
    display: grid;
    grid-template-columns: repeat(7, calc(320px / 7));
    grid-template-rows: repeat(6, auto);
    gap: 5px;
    .calendarNav {
        display: grid;
        grid-template-columns: repeat(7, 50px);
        grid-column: 1 / span 7;
        font-size: 3rem;
        position: relative;
        button {
            height: 45px;
            background-color: whitesmoke;
            border: none;
            border-bottom: 2px solid darkblue;
        }
        .monthInfo {
            grid-column: 2 / span 5;
            display: grid;
            grid-template-columns: repeat(2, 125px);
        }
    }
    button.day {
        background-color: whitesmoke;
        border: 1px solid #03091a;
        height: 45px;
        border-radius: 5px;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &.chosen {
            background-color: gold;
        }
        &.today {
            background-color: brown;
            color: whitesmoke;
        }
    }
    .symbolContainer {
        &--gis, &--crc, &--juno, &--coursera {
            height: 5px;
            width: 5px;
            position: absolute;
            bottom: 5px;
        }
        &--gis {
            background-color: #0d9900;
            left: 17px;
        }
        &--crc {
            background-color: crimson;
            left: 24px;
        }
        &--juno {
            background-color: rgb(255, 87, 25);
            left: 10px;
        }
        &--coursera {
            background-color: #0090e4;
            left: 31px;
        }
    }
}

.selectionPanel {
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: 1;
    background-color: whitesmoke;
    display: grid;
    align-content: center;
    &--month {
        display: grid;
        grid-template-columns: repeat(4, 24%);
        justify-content: center;
        gap: 2px;
        button.selection {
            border: 1px solid darkblue;
            border-radius: 5px;
        }
    }
    &--year {
        button.selection {
            border: 1px solid darkblue;
            border-radius: 5px;
        }
        &--display {
            display: grid;
            grid-template-columns: repeat(4, 24%);
            justify-content: center;
            gap: 2px;
            button.selection:nth-child(9) {
                grid-column: 2;
            }
        }
        &--nav {
            display: flex;
            justify-content: space-between;
            button {
                width: 54px;
            }
        }
    }
}
