.timeline {
    grid-column: 1 / span 2;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    background: linear-gradient(90deg, coral, rgb(111, 0, 255));
    height: 1px;
    border-radius: 5px;
    button {
        align-self: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid rgb(116, 173, 0);
        background-color: rgb(255, 255, 255);
        position: relative;
        cursor: pointer;
        &:hover, &:focus {
            background: linear-gradient(45deg, cyan, coral, crimson);
        }
        &.focus {
            background: linear-gradient(45deg, cyan, coral, crimson);
            &:after {
                content: '';
                position: absolute;
                width: 35px;
                height: 35px;
                top: -5px;
                left: -5px;
                border: 2px solid black;
                animation: rotate 4s linear infinite;
            }
        }
    }
    h2 {
        position: relative;
        span {
            width: 280px;
            font-size: 1.6rem;
            position: absolute;
            left: 150px;
            bottom: -25px;
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}