.journal {
    display: flex;
    flex-direction: column;
    gap: 10px;
    h2 {
        font-family: 'Marck Script', cursive;
        font-size: 4rem;
    }
    h3 {
        font-family: 'Cinzel', serif;
        text-transform: uppercase;
    }
    .symbolContainer {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        &--gis, &--crc, &--juno, &--coursera {
            height: 50px;
            flex: 1 0 50px;
            max-width: 50px;
            background-size: contain;
            background-repeat: no-repeat;
        }
        &--gis {
            grid-area: gis;
            background-image: url(../../assets/gisIcon.png);
        }
        &--crc {
            grid-area: crc;
            background-image: url(../../assets/crcSymbol.png);
        }
        &--github {
            grid-area: github;
            background-image: url(../../assets/gitHubIcon.png);
        }
        &--juno {
            grid-area: juno;
            background-image: url(../../assets/junoSymbol.png);
        }
        &--coursera {
            grid-area: coursera;
            background-image: url(../../assets/courseraIcon.png);
        }
    }
}