.minimized {
    .calendarDisplay {
        width: calc(100% - 800px);
        height: calc(100% - 800px);
        background: none;
        .symbolContainer {
            &--gis, &--github, &--juno, &--coursera, &--crc {
                display: none;
            }
        }
        button.dayInMonth {
            display: flex;
            height: auto;
            border: none;
        }
    }
    .skills {
        ul {
            grid-template-columns: repeat(4, 20%);
        }
    }
}