.myStory {
    box-sizing: content-box;
    display: grid;
    grid-template-columns: 350px auto;
    align-content: flex-start;
    column-gap: 80px;
    row-gap: 80px;
    height: 600px;
    padding-top: 170px;
    position: relative;
    .buttonContainer {
        position: absolute;
        left: calc(50% - 200px);
        bottom: 70px;
    }
    a:hover, a:focus {
        background-color: crimson;
    }
    .linkToContact {
        background-color: #00144b;
        width: 200px;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        color: whitesmoke;
    }
    .linkToVideo {
        width: 200px;
        padding: 10px;
        color: whitesmoke;
        background-color: #00144b;
        border-radius: 5px;
    }
}