.myStory {
    display: grid;
    grid-template-columns: 350px auto;
    align-content: flex-start;
    column-gap: 80px;
    row-gap: 80px;
    height: 700px;
    margin: 50px 0 20px;
    position: relative;
    a.link {
        position: absolute;
        left: calc(50% - 90px);
        bottom: 50px;
        background-color: #00144b;
        width: 200px;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        color: whitesmoke;
        &:hover, &:focus {
            background-color: crimson;
        }
    }
}