.calendar {
    display: flex;
    width: 50%;
    button {
        border: none;
        border-radius: 5px;
        padding: 5px;
        &:hover, &:focus {
            background-color: cyan;
        }
    }
}

.calendarDisplay {
    display: grid;
    width: 100%;
    gap: 10px;
    grid-template-columns: repeat(7, calc(100%/7));
    h3 {
        text-align: center;
        margin: 0;
    }
    .calendarNav {
        grid-column: 1 / span 7;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(7, 1fr);
        h3 {
            grid-column: 2 / span 4;
        }
    }
    .previousMonth, .nextMonth, .collapseButton {
        align-self: center;
        background-color: rgba(245, 245, 245, 0.60);
    }
}

button.dayInMonth {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgba(245, 245, 245, 0.60);
    
    &.chosen {
        background-color: gold;
    }
    &.today {
        background-color: rgb(182, 48, 0);
        color: whitesmoke;
    }
}


