.dashboard {
    main {
        display: flex;
        justify-content: center;
    }
}

.general {
    width: 100%;
    height: calc(100vh - 50px);
    background-color: rgb(255, 242, 191);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 35px 50px;
    gap: 35px;
    .bloodPressure, .heartRate, .bloodSugar {
        height: calc(50vh - 90px);
    }
    .bloodPressure {
        flex: 1 0 500px;
        background-color: whitesmoke;
        position: relative;
        border-bottom: 2px solid black;
        .pressureAxis {
            position: relative;
            background-color: red;
            width: 2px;
            .markings {
                position: absolute;
                left: 0;
                height: 2px;
                background-color: red;
            }
        }
        .dateEntry {
            position: absolute;
            bottom: 0px;
            width: 33%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            gap: 10px;
            p {
                position: absolute;
                bottom: -30px;
            }
            .barchart {
                width: 25px;
                &.systolic {
                    background-color: cadetblue;
                }
                &.diastolic {
                    background-color: coral;
                }
            }
        }
    }
    .heartRate {
        flex: 1 0 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        .outerCircle {
            height: 100%;
            width: calc(50vh - 90px);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            .innerCircle {
                height: calc(100% - 10px);
                width: calc(100% - 10px);
                background: whitesmoke;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .bloodPressureCluster {
        flex: 1 0 300px;
    }
    .bloodSugar {
        flex: 1 0 500px;
        background-color: whitesmoke;
        position: relative;
        border-bottom: 2px solid black;
        .sugarLevelAxis {
            position: relative;
            background-color: red;
            width: 2px;
            .markings {
                position: absolute;
                left: 0;
                height: 2px;
                background-color: red;
            }
        }
        .dateEntry {
            position: absolute;
            width: 33%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            gap: 10px;
            p {
                position: absolute;
                bottom: -30px;
            }
            .point {
                position: absolute;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background-color: red;
            }
        }
    }
}