main {
    background: url(../../assets/background1.jpg);
    background-color: lightskyblue;
    background-blend-mode: overlay;
    background-position: center;
    background-size: 200%;
    padding: 50px 0;
}