h1 {
    margin: 0;
    font-size: 5rem;
    text-transform: uppercase;
}

h3, label, input, span, button {
    font-size: 2.5rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(39, 39, 39);
    font-size: 2rem;
}

p {
    font-size: 2rem;
}

