.about {
    display: flex;
    justify-content: center;
    width: 100%;
}

.aboutContainer {
    display: flex;
    justify-content: space-between;
    .profilePictureContainer {
        margin-right: 100px;
        flex: 0 0 500px;
        height: 500px;
        position: relative;
        border: 10px solid goldenrod ;
        img {
            display: block;
            width: 100%;
        }
        &:after {
            content: '';
            box-sizing: border-box;
            width: 100px;
            height: 100px;
            border-left: 100px solid #db005b;
            border-top: 100px solid transparent;
            position: absolute;
            bottom: -30px;
            left: -30px;
        }
        &:before {
            content: '';
            box-sizing: border-box;
            width: 100px;
            height: 100px;
            border-right: 100px solid #00144b;
            border-bottom: 100px solid transparent;
            position: absolute;
            top: -30px;
            right: -30px;
        }
    }
    .profileText {
        .aboutText {
            display: flex;
            flex-direction: column;
            margin-bottom: 50px;
            h3 {
                font-size: 5rem;
                span {
                    display: inline-block;
                    transform: rotateY(180deg);
                }
            }
            p {
                font-size: 2.2rem;
            }
        }
        a {
            background-color: #00144b;
            width: 200px;
            padding: 10px;
            border-radius: 5px;
            color: whitesmoke;
            &:hover, &:focus {
                background-color: #db005b;
            }
        }
    }
}
