html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  position: relative;
}

.hidden {
  display: none;
}

.wrapper {
  width: calc(100% - 150px);
  max-width: 1280px;
  padding: 75px 0;
}

button {
  cursor: pointer;
}

button:hover, button:focus {
  background-color: darkgoldenrod;
}

h1, h2 {
  font-size: 6rem;
}

h3 {
  font-size: 2.2rem;
}

p {
  font-size: 2rem;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #03091a;
}

header h1 {
  color: whitesmoke;
}

header h1 span {
  color: #db005b;
}

header h2 {
  color: whitesmoke;
}

.menu {
  width: 80px;
  height: 50px;
  background-color: whitesmoke;
  border-radius: 0 0 5px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding: 70px 20px 20px;
  background-color: rgba(245, 245, 245, 0.815);
}

input#menu {
  position: absolute;
  height: 80px;
  width: 80px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  z-index: 1;
}

input#menu:checked ~ nav {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: whitesmoke;
}

.technicalSkills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #dfdfdf;
  width: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 /span 2;
}

.technicalSkills ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: (100px)[3];
      grid-template-rows: repeat(3, 100px);
  background: none;
}

.technicalSkills ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  font-size: 5.5rem;
}

.technicalSkills ul li span {
  font-size: 1.8rem;
  color: #272727;
}

.technicalSkills ul li i {
  color: #00144b;
}

.technicalSkills ul li img {
  height: 55%;
  -webkit-filter: saturate(100%) hue-rotate(290deg);
          filter: saturate(100%) hue-rotate(290deg);
}

.about {
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

.personalSkills ul {
  padding: 0;
  list-style: none;
}

.personalSkills ul li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80px auto;
      grid-template-columns: 80px auto;
  gap: 20px;
}

.personalSkills ul li i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  font-size: 6rem;
  background-color: #db005b;
  border-radius: 5px;
  color: whitesmoke;
}

.personalInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.personalInfo .profilePicContainer {
  width: 100%;
}

.personalInfo .profilePicContainer img {
  width: 100%;
  border-radius: 5px;
  -webkit-filter: grayscale(40%);
          filter: grayscale(40%);
}

.timeline {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: -webkit-gradient(linear, left top, right top, from(coral), to(#6f00ff));
  background: linear-gradient(90deg, coral, #6f00ff);
  height: 1px;
  border-radius: 5px;
}

.timeline button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #74ad00;
  background-color: white;
  position: relative;
  cursor: pointer;
}

.timeline button:hover, .timeline button:focus {
  background: linear-gradient(45deg, cyan, coral, crimson);
}

.timeline button.focus {
  background: linear-gradient(45deg, cyan, coral, crimson);
}

.timeline button.focus:after {
  content: '';
  position: absolute;
  width: 35px;
  height: 35px;
  top: -5px;
  left: -5px;
  border: 2px solid black;
  -webkit-animation: rotate 4s linear infinite;
          animation: rotate 4s linear infinite;
}

.timeline h2 {
  position: relative;
}

.timeline h2 span {
  width: 280px;
  font-size: 1.6rem;
  position: absolute;
  left: 150px;
  bottom: -25px;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.datePicker {
  width: 100%;
}

.datePicker label, .datePicker input, .datePicker .calendarIcon, .datePicker .weekdays, .datePicker .collapseButton {
  display: none;
}

.calendarDisplay {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50px)[7];
      grid-template-columns: repeat(7, 50px);
  -ms-grid-rows: (auto)[6];
      grid-template-rows: repeat(6, auto);
  gap: 5px;
}

.calendarDisplay .calendarNav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (54px)[7];
      grid-template-columns: repeat(7, 54px);
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1 / span 7;
  font-size: 3rem;
  position: relative;
}

.calendarDisplay .calendarNav button {
  height: 50px;
  background-color: whitesmoke;
  border: none;
  border-bottom: 2px solid darkblue;
}

.calendarDisplay .calendarNav .monthInfo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: 2 / span 5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (135px)[2];
      grid-template-columns: repeat(2, 135px);
}

.calendarDisplay button.day {
  background-color: whitesmoke;
  border: 1px solid #03091a;
  height: 50px;
  border-radius: 5px;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.calendarDisplay button.day.chosen {
  background-color: gold;
}

.calendarDisplay button.day.today {
  background-color: brown;
  color: whitesmoke;
}

.calendarDisplay .symbolContainer--gis, .calendarDisplay .symbolContainer--crc, .calendarDisplay .symbolContainer--juno, .calendarDisplay .symbolContainer--coursera {
  height: 5px;
  width: 5px;
  position: absolute;
  bottom: 5px;
}

.calendarDisplay .symbolContainer--gis {
  background-color: #0d9900;
  left: 17px;
}

.calendarDisplay .symbolContainer--crc {
  background-color: crimson;
  left: 24px;
}

.calendarDisplay .symbolContainer--juno {
  background-color: #ff5719;
  left: 10px;
}

.calendarDisplay .symbolContainer--coursera {
  background-color: #0090e4;
  left: 31px;
}

.selectionPanel {
  position: absolute;
  top: 50px;
  width: 100%;
  z-index: 1;
  background-color: whitesmoke;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
}

.selectionPanel--month {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (80px)[4];
      grid-template-columns: repeat(4, 80px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
}

.selectionPanel--month button.selection {
  border: 1px solid darkblue;
  border-radius: 5px;
}

.selectionPanel--year button.selection {
  border: 1px solid darkblue;
  border-radius: 5px;
}

.selectionPanel--year--display {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (80px)[4];
      grid-template-columns: repeat(4, 80px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
}

.selectionPanel--year--display button.selection:nth-child(9) {
  -ms-grid-column: 2;
  grid-column: 2;
}

.selectionPanel--year--nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.selectionPanel--year--nav button {
  width: 54px;
}

.journal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.journal h2 {
  font-family: 'Marck Script', cursive;
  font-size: 4rem;
}

.journal h3 {
  font-family: 'Cinzel', serif;
  text-transform: uppercase;
}

.journal .symbolContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.journal .symbolContainer--gis, .journal .symbolContainer--crc, .journal .symbolContainer--juno, .journal .symbolContainer--coursera {
  height: 50px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50px;
          flex: 1 0 50px;
  max-width: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}

.journal .symbolContainer--gis {
  grid-area: gis;
  background-image: url(../../assets/gisIcon.png);
}

.journal .symbolContainer--crc {
  grid-area: crc;
  background-image: url(../../assets/crcSymbol.png);
}

.journal .symbolContainer--github {
  grid-area: github;
  background-image: url(../../assets/gitHubIcon.png);
}

.journal .symbolContainer--juno {
  grid-area: juno;
  background-image: url(../../assets/junoSymbol.png);
}

.journal .symbolContainer--coursera {
  grid-area: coursera;
  background-image: url(../../assets/courseraIcon.png);
}

.myStory {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 350px auto;
      grid-template-columns: 350px auto;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  gap: 80px;
  height: 600px;
  margin: 50px 0 20px;
}

.projects {
  background-color: #dfdfdf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projectContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}

.projectContainer h2 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
}

.individualProject {
  -ms-flex-preferred-size: 280px;
      flex-basis: 280px;
}

.individualProject .projectImageContainer {
  width: 100%;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.individualProject .projectImageContainer img {
  width: 100%;
}

.project--0 .projectImageContainer {
  background-color: #f6a823;
}

.project--1 .projectImageContainer {
  background-color: #1b2456;
}

.project--3 .projectImageContainer {
  background-color: whitesmoke;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
  background-color: whitesmoke;
}

.contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 25px;
}

.contactContainer h2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  text-align: center;
}

.contactContainer fieldset {
  width: 60%;
}

.myContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.myContact p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-size: 2.5rem;
}

.myContact p i {
  font-size: 4rem;
  color: #0f2edd;
}

.myContact .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.myContact .links a {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.myContact .links a i {
  font-size: 5rem;
}

.myContact .links img {
  height: 100%;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

form input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 40%;
  font-size: 2.5rem;
  padding: 0 10px;
  font-family: auto;
}

form textarea {
  font-family: auto;
  width: 100%;
  font-size: 2.5rem;
  padding: 10px;
}

footer {
  background-color: #1b2456;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

footer p, footer a {
  text-align: center;
  color: whitesmoke;
  font-size: 2rem;
  width: auto;
  text-transform: none;
}
