.calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.calendar button {
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.calendar button:hover, .calendar button:focus {
  background-color: cyan;
}

.calendarDisplay {
  display: -ms-grid;
  display: grid;
  width: 100%;
  gap: 10px;
  -ms-grid-columns: (calc(100%/7))[7];
      grid-template-columns: repeat(7, calc(100%/7));
}

.calendarDisplay h3 {
  text-align: center;
  margin: 0;
}

.calendarDisplay .calendarNav {
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1 / span 7;
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
}

.calendarDisplay .calendarNav h3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / span 4;
}

.calendarDisplay .previousMonth, .calendarDisplay .nextMonth, .calendarDisplay .collapseButton {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: rgba(245, 245, 245, 0.6);
}

button.dayInMonth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: rgba(245, 245, 245, 0.6);
}

button.dayInMonth.chosen {
  background-color: gold;
}

button.dayInMonth.today {
  background-color: #b63000;
  color: whitesmoke;
}
